html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.thrive {
    position: absolute;
    right: 0;
    height: 50px;
    width: 100%;
    background: #474c55 url(https://www.cargill.co.in/CCOM/assets/images/home-footer-thrive-white.png) no-repeat center right;
    margin-bottom: -2px;
}